body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Poppins"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */

}

* {
    padding: 0;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
    /* background: white; */
    background: #26262B;
    color: white;
    font-family: "Open Sans";
}

h1 {
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    min-height: 100vh;
    background-color: #25252B;
}

.sidebar {
    background:#25252B;
    left: 0;
    right: auto;
    /* position: relative; */
    width: 23%;
    /* right: 0; */
    position: fixed;
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
    height: 100%;
}

.avatar-image {
    max-width: 146px;
    border-radius: 50%;
}


.sidebar-main {
    padding: 10% 15%;
    box-sizing: border-box;
}

.name-header {
    font-size: 1.5em;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 33px;
     font-family: "opensans-bold";

}

.sub-header {
    color: #9DA1B3;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    font-weight: 700;
}

.slide-container {
    left: 23%;
    margin-bottom: 0;
    /* padding-left: 30px; */
    box-sizing: border-box;
    position: absolute;
    min-height: 100%;
    width: 77%;
}

.slide-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}


.slide {
  scroll-snap-align: start;
  height: 100vh;
  padding-left: 30px;
}

.slide-contents {
    padding: 0px 70px 0px 40px;
    width: 90%;
    display: inline-block;

}

.slide-contents-inner {
    padding: 50px 0px;
}

.slide-header {
    /* font-size: 3em; */
    text-align: left;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.5em;
    margin-bottom: 2em;

     font-family: "nunito-extrabold";
    text-transform: uppercase;
     border-bottom: 10px solid white;
    padding-bottom: 1em;
    width: 7em;
}


li {
    font-weight: 600;
}
.slide:nth-child(1) {
  background-color: #7289DA;
}

.slide:nth-child(2) {
  background-color: #43B581;
}

.slide:nth-child(3) {
  background-color:rgba(0, 0, 0, 0.496);
}

.text {
    /* margin: 0 0 25px 0; */
    font-size: 17px;
    color: white;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 700;
    font-family: "Open Sans";
}

#job-text {
    font-size: 1em;
}


.job-title {
    margin: 1em 0px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: "nunito-extrabold";
    font-size: 1em;
}



.project-div {

}

.project-img {
    width: 280px;
}

.project-title {
   margin-bottom: 1em;
   font-family: "nunito-semibold";

}

.project-contents {
    display: flex;

}
.img-container {

}

.project-description {
    display: inline-block;
    position: relative;
    padding: 0px 1em;
}


.job-div {
    transition: all .5s ease;

}

.job-div {
    transition: all .5s ease;
    background: green;
}


.list-skill:hover {
     padding-left: 0%;
     transition: all .5s ease;
      text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
